* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
}

/* Navigation bar style section */

.input-wrapper {
  display: grid;
  grid-template-columns: repeat(13, 123px);
  grid-template-rows: 1 100px;
  border-bottom: dotted 1px darkred;
  /* position: fixed; */
}

#search-input {
  grid-column: 6/7;
  height: 2rem;
  margin-top: 2rem;
}
#episodeSelect {
  color: black;
}
#showDropdown {
  grid-column: 8/10;
  height: 2rem;
  margin-top: 2rem;
}
#episodes-dropdown {
  grid-column: 11/-1;
  height: 2rem;
  margin-top: 2rem;
}
.episodes-numbers {
  grid-column: 3/5;
  grid-row: 1;
  padding-top: 1rem;
  color: whitesmoke;
}

svg {
  grid-column: 2/3;
  fill: whitesmoke;
  width: 3rem;
  transition: fill
    linear(
      0 0%,
      0.22 2.1%,
      0.86 6.5%,
      1.11 8.6%,
      1.3 10.7%,
      1.35 11.8%,
      1.37 12.9%,
      1.37 13.7%,
      1.36 14.5%,
      1.32 16.2%,
      1.03 21.8%,
      0.94 24%,
      0.89 25.9%,
      0.88 26.85%,
      0.87 27.8%,
      0.87 29.25%,
      0.88 30.7%,
      0.91 32.4%,
      0.98 36.4%,
      1.01 38.3%,
      1.04 40.5%,
      1.05 42.7%,
      1.05 44.1%,
      1.04 45.7%,
      1 53.3%,
      0.99 55.4%,
      0.98 57.5%,
      0.99 60.7%,
      1 68.1%,
      1.01 72.2%,
      1 86.7%,
      1 100%
    );
}

svg:hover {
  fill: red;
}

/* Layout style section */

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, auto));
  padding: 5rem;
  background-color: black;
}
.layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, auto));
  gap: 1rem;
  padding: 2rem;
  background-color: black;
}

.title-name-season {
  gap: 1px;
}

img {
  grid-column: 1/-1;
  grid-row: 2/3;
  transition: transform 0.3s ease-in-out; /* Added transition for smooth effect */
}
.img {
  grid-column: 1/-1;
  grid-row: 2/3;
  transition: transform 0.3s ease-in-out; /* Added transition for smooth effect */
}

.card-div:hover img {
  transform: scale(1.05); /* Increased size on hover */
  box-shadow: 1px 4px 50px 15px #026;
  /* box-shadow: 1px 4px 46px 15px darkred; */
}

.pic-summery {
  display: block;
}

.title {
  grid-column: 2/-1;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  line-height: 23px;
}

.title:hover {
  text-decoration: underline;
  color: red;
  font-weight: 400;
}

.title-wrapper {
  grid-column: 1/-1;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  line-height: 3px;
  padding: 1rem;
}

.card-div {
  display: block;
  background-color: black;
  display: grid;
  grid-template-rows: 8rem 16rem auto;
  justify-items: center;
  line-height: 17px;
  transition: background-color 0.3s;
  row-gap: 5px;
}

.card-div:hover {
  border-left: solid darkred 0.1px;
  border-right: solid darkred 0.1px;
  grid-template-rows: 8rem 16rem;
}

h4 {
  /* grid-column: 2/-1; */
  color: honeydew;
}
/* Footer style section */

.footer-wrapper {
  display: grid;
  grid-template-rows: 7rem;
  background-color: black;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: honeydew;
  border-top: darkred solid 0.5px;
  border-bottom: darkred solid 4px;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .layout {
    grid-template-columns: repeat(2, 226px);
    gap: 1rem;
  }
}

h4 {
  padding: 1.6rem;
}
